#  Importando bibliotecas

In [1]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians, acos

# Função de calculo de distancia por Latitude/Longitude (km)

In [2]:
#funcao que calcula a distancia entre lat e long
def latlngDistance(slat, slon, elat, elon):
    slat = radians(slat)
    slon = radians(slon)
    elat = radians(elat)
    elon = radians(elon)
    
    if slat == elat and slon == elon:
        return 0.0

    dist = 6371.01 * acos(sin(slat)*sin(elat) + cos(slat)*cos(elat)*cos(slon - elon))
    
    return dist

# Importando dados do Excel

In [4]:
# Dados utilizados

df = pd.read_excel("Teste.xlsx")
df.head()

   LATITUDE_X  LONGITUDE_X  LATITUDE_Y  LONGITUDE_Y
0     -16.725      -49.239   -16.74830    -49.24660
1     -16.725      -49.239   -16.74010    -49.23390
2     -16.725      -49.239   -16.73960    -49.25890
3     -16.725      -49.239   -16.73456    -49.25199
4     -16.725      -49.239   -16.73120    -49.26080

# Calculo da distância entre as coordenadas geográficas

In [6]:
# Filtrando dados com Lat/Long diferente de Null

df = df[(df.LATITUDE_X != "<Null>") & (df.LONGITUDE_X != "<Null>")]

In [7]:
# Calculando a distancia entre os pontos (km)

df['Distancia'] = df[['LATITUDE_X','LONGITUDE_X','LATITUDE_Y','LONGITUDE_Y']].apply(lambda row: latlngDistance(row['LATITUDE_X'],row['LONGITUDE_X'],row['LATITUDE_Y'], row['LONGITUDE_Y']), axis=1)

In [8]:
df.head()

   LATITUDE_X  LONGITUDE_X  LATITUDE_Y  LONGITUDE_Y  Distancia
0     -16.725      -49.239   -16.74830    -49.24660   2.714300
1     -16.725      -49.239   -16.74010    -49.23390   1.764691
2     -16.725      -49.239   -16.73960    -49.25890   2.669484
3     -16.725      -49.239   -16.73456    -49.25199   1.744564
4     -16.725      -49.239   -16.73120    -49.26080   2.421675

In [19]:
# Exportando os dados

df.to_excel("Calculo_Distancia.xlsx")